In [1]:
# Load necessary library and module
import warnings
warnings.filterwarnings('ignore')

import sys
import pandas as pd
import seaborn as sns
import numpy as np
import re
import string
import unicodedata
import nltk

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('words')
nltk.download('wordnet')
from nltk.tokenize import word_tokenize
from textblob import TextBlob, Word

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\LENOVO\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\LENOVO\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\LENOVO\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\LENOVO\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [2]:
# Apply text pre-processing to DataFrame
from tqdm._tqdm_notebook import tqdm_notebook
tqdm_notebook.pandas()

from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
snowball = nltk.stem.SnowballStemmer('english')
porter_stemmer = PorterStemmer()

from textblob import TextBlob, Word

In [3]:
# import StemmerFactory class
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
factory = StemmerFactory()
stemmer = factory.create_stemmer()
# stemming process
# sentence = 'Perekonomian Indonesia sedang dalam pertumbuhan yang membanggakan'
# output   = stemmer.stem(sentence)

## LOAD DATASET

In [9]:
dataset= pd.read_csv('dataset/dataset_after_nomorurut_23112023_alldataset.csv', encoding='ISO-8859-1')#'UTF-8') #'ISO-8859-1')
# samples= pd.read_csv('hasil/samples.csv', encoding='ISO-8859-1')

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7306 entries, 0 to 7305
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   7306 non-null   float64
 1   likes                7306 non-null   int64
 2   quotes               7306 non-null   int64
 3   replies              7306 non-null   int64
 4   retweets             7306 non-null   int64
 5   searchQuery          7306 non-null   object
 6   text                 7306 non-null   object
 7   timestamp            7306 non-null   object
 8   tanggal              7306 non-null   object
 9   url                  7306 non-null   object
 10  user/avatar          7306 non-null   object
 11  user/description     5197 non-null   object
 12  user/joinDate        7306 non-null   object
 13  user_location        3472 non-null   object
 14  user/totalFollowers  7306 non-null   int64
 15  user/totalFollowing  7306 non-null   int64
 16  user/totalLikes      7306 non-null   int64
 17  user/totalTweets     7306 non-null   int64
 18  user/url             7306 non-null   object
 19  user/userFullName    7182 non-null   object
 20  user/username        7306 non-null   object
 21  user/verified        7306 non-null   bool
 22  user/website         1521 non-null   object
 23  username             2602 non-null   object
 24  verified             7306 non-null   bool
 25  dataset              7306 non-null   object
dtypes: bool(2), float64(1), int64(8), object(15)
memory usage: 1.4+ MB

In [7]:
from datetime import datetime

In [16]:
# datetime_object = datetime.strptime(dataset['tanggal'], '%Y/%m/%d')

In [11]:
# bank = bank[['content', 'score']]
# samples=dataset[['tanggal','text']].iloc[1:10]
samples=dataset[['tanggal','text','likes','replies','quotes','retweets','searchQuery','timestamp','user_location','dataset']]

In [12]:
samples.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7306 entries, 0 to 7305
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tanggal        7306 non-null   object
 1   text           7306 non-null   object
 2   likes          7306 non-null   int64
 3   replies        7306 non-null   int64
 4   quotes         7306 non-null   int64
 5   retweets       7306 non-null   int64
 6   searchQuery    7306 non-null   object
 7   timestamp      7306 non-null   object
 8   user_location  3472 non-null   object
 9   dataset        7306 non-null   object
dtypes: int64(4), object(6)
memory usage: 570.9+ KB

In [13]:
#lowercase all text
samples['text_lower']=(dataset['text'].str.lower())

In [14]:
print(samples.iloc[10])

tanggal                                                 11/20/2023
text             Cerita awal mula Pak Prabowo bertemu seorang p...
likes                                                            0
replies                                                          0
quotes                                                           0
retweets                                                         0
searchQuery                                                   #KIM
timestamp                                 2023-11-20T16:51:00.000Z
user_location                                                  NaN
dataset                                              prabowogibran
text_lower       cerita awal mula pak prabowo bertemu seorang p...
Name: 10, dtype: object

In [25]:
samples.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2324 entries, 0 to 2323
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tanggal        2324 non-null   object
 1   text           2324 non-null   object
 2   likes          2324 non-null   int64
 3   replies        2324 non-null   int64
 4   quotes         2324 non-null   int64
 5   retweets       2324 non-null   int64
 6   searchQuery    2324 non-null   object
 7   timestamp      2324 non-null   object
 8   user_location  1223 non-null   object
 9   text_lower     2324 non-null   object
dtypes: int64(4), object(6)
memory usage: 181.7+ KB

In [ ]:
# print(stemming(samples.text[1]))

In [15]:
samples.head()

,tanggal,text,likes,replies,quotes,retweets,searchQuery,timestamp,user_location,dataset,text_lower
0,11/14/2023,"Sah, Pasangan Prabowo-Gibran dapat Nomor Urut ...",0,0,0,0,#nomor,2023-11-14T15:49:00.000Z,NaN,prabowogibran,"sah, pasangan prabowo-gibran dapat nomor urut ..."
1,11/15/2023,#nomor 1 Amin menang,0,0,0,0,#nomor,2023-11-15T12:32:00.000Z,NaN,prabowogibran,#nomor 1 amin menang
2,11/20/2023,Pak Prabowo mengangkat anak penerbang tucano y...,0,0,0,0,#KIM,2023-11-20T17:30:00.000Z,NaN,prabowogibran,pak prabowo mengangkat anak penerbang tucano y...
3,11/20/2023,"Unboxing Prabowo; Cerita sejarah, deklarasi bu...",1,0,0,0,#KIM,2023-11-20T17:25:00.000Z,NaN,prabowogibran,"unboxing prabowo; cerita sejarah, deklarasi bu..."
4,11/14/2023,#Nomor 1\n\nIndonesia beradab,0,0,0,0,#nomor,2023-11-14T14:55:00.000Z,NaN,prabowogibran,#nomor 1\n\nindonesia beradab

## STOPWORD REMOVAL

In [11]:
# samplex= pd.read_csv('hasil/samples.csv', encoding='ISO-8859-1')

In [16]:
from nltk.corpus import stopwords

stopwords_id = stopwords.words('indonesian')
len(stopwords_id)

758

In [18]:
print(stopwords_id)

['ada', 'adalah', 'adanya', 'adapun', 'agak', 'agaknya', 'agar', 'akan', 'akankah', 'akhir', 'akhiri', 'akhirnya', 'aku', 'akulah', 'amat', 'amatlah', 'anda', 'andalah', 'antar', 'antara', 'antaranya', 'apa', 'apaan', 'apabila', 'apakah', 'apalagi', 'apatah', 'artinya', 'asal', 'asalkan', 'atas', 'atau', 'ataukah', 'ataupun', 'awal', 'awalnya', 'bagai', 'bagaikan', 'bagaimana', 'bagaimanakah', 'bagaimanapun', 'bagi', 'bagian', 'bahkan', 'bahwa', 'bahwasanya', 'baik', 'bakal', 'bakalan', 'balik', 'banyak', 'bapak', 'baru', 'bawah', 'beberapa', 'begini', 'beginian', 'beginikah', 'beginilah', 'begitu', 'begitukah', 'begitulah', 'begitupun', 'bekerja', 'belakang', 'belakangan', 'belum', 'belumlah', 'benar', 'benarkah', 'benarlah', 'berada', 'berakhir', 'berakhirlah', 'berakhirnya', 'berapa', 'berapakah', 'berapalah', 'berapapun', 'berarti', 'berawal', 'berbagai', 'berdatangan', 'beri', 'berikan', 'berikut', 'berikutnya', 'berjumlah', 'berkali-kali', 'berkata', 'berkehendak', 'berkeinginan', 'berkenaan', 'berlainan', 'berlalu', 'berlangsung', 'berlebihan', 'bermacam', 'bermacam-macam', 'bermaksud', 'bermula', 'bersama', 'bersama-sama', 'bersiap', 'bersiap-siap', 'bertanya', 'bertanya-tanya', 'berturut', 'berturut-turut', 'bertutur', 'berujar', 'berupa', 'besar', 'betul', 'betulkah', 'biasa', 'biasanya', 'bila', 'bilakah', 'bisa', 'bisakah', 'boleh', 'bolehkah', 'bolehlah', 'buat', 'bukan', 'bukankah', 'bukanlah', 'bukannya', 'bulan', 'bung', 'cara', 'caranya', 'cukup', 'cukupkah', 'cukuplah', 'cuma', 'dahulu', 'dalam', 'dan', 'dapat', 'dari', 'daripada', 'datang', 'dekat', 'demi', 'demikian', 'demikianlah', 'dengan', 'depan', 'di', 'dia', 'diakhiri', 'diakhirinya', 'dialah', 'diantara', 'diantaranya', 'diberi', 'diberikan', 'diberikannya', 'dibuat', 'dibuatnya', 'didapat', 'didatangkan', 'digunakan', 'diibaratkan', 'diibaratkannya', 'diingat', 'diingatkan', 'diinginkan', 'dijawab', 'dijelaskan', 'dijelaskannya', 'dikarenakan', 'dikatakan', 'dikatakannya', 'dikerjakan', 'diketahui', 'diketahuinya', 'dikira', 'dilakukan', 'dilalui', 'dilihat', 'dimaksud', 'dimaksudkan', 'dimaksudkannya', 'dimaksudnya', 'diminta', 'dimintai', 'dimisalkan', 'dimulai', 'dimulailah', 'dimulainya', 'dimungkinkan', 'dini', 'dipastikan', 'diperbuat', 'diperbuatnya', 'dipergunakan', 'diperkirakan', 'diperlihatkan', 'diperlukan', 'diperlukannya', 'dipersoalkan', 'dipertanyakan', 'dipunyai', 'diri', 'dirinya', 'disampaikan', 'disebut', 'disebutkan', 'disebutkannya', 'disini', 'disinilah', 'ditambahkan', 'ditandaskan', 'ditanya', 'ditanyai', 'ditanyakan', 'ditegaskan', 'ditujukan', 'ditunjuk', 'ditunjuki', 'ditunjukkan', 'ditunjukkannya', 'ditunjuknya', 'dituturkan', 'dituturkannya', 'diucapkan', 'diucapkannya', 'diungkapkan', 'dong', 'dua', 'dulu', 'empat', 'enggak', 'enggaknya', 'entah', 'entahlah', 'guna', 'gunakan', 'hal', 'hampir', 'hanya', 'hanyalah', 'hari', 'harus', 'haruslah', 'harusnya', 'hendak', 'hendaklah', 'hendaknya', 'hingga', 'ia', 'ialah', 'ibarat', 'ibaratkan', 'ibaratnya', 'ibu', 'ikut', 'ingat', 'ingat-ingat', 'ingin', 'inginkah', 'inginkan', 'ini', 'inikah', 'inilah', 'itu', 'itukah', 'itulah', 'jadi', 'jadilah', 'jadinya', 'jangan', 'jangankan', 'janganlah', 'jauh', 'jawab', 'jawaban', 'jawabnya', 'jelas', 'jelaskan', 'jelaslah', 'jelasnya', 'jika', 'jikalau', 'juga', 'jumlah', 'jumlahnya', 'justru', 'kala', 'kalau', 'kalaulah', 'kalaupun', 'kalian', 'kami', 'kamilah', 'kamu', 'kamulah', 'kan', 'kapan', 'kapankah', 'kapanpun', 'karena', 'karenanya', 'kasus', 'kata', 'katakan', 'katakanlah', 'katanya', 'ke', 'keadaan', 'kebetulan', 'kecil', 'kedua', 'keduanya', 'keinginan', 'kelamaan', 'kelihatan', 'kelihatannya', 'kelima', 'keluar', 'kembali', 'kemudian', 'kemungkinan', 'kemungkinannya', 'kenapa', 'kepada', 'kepadanya', 'kesampaian', 'keseluruhan', 'keseluruhannya', 'keterlaluan', 'ketika', 'khususnya', 'kini', 'kinilah', 'kira', 'kira-kira', 'kiranya', 'kita', 'kitalah', 'kok', 'kurang', 'lagi', 'lagian', 'lah', 'lain', 'lainnya', 'lalu', 'lama', 'lamanya', 'lanjut', 'lanjutnya', 'lebih', 'lewat', 'lima', 'luar', 'macam', 'maka', 'makanya', 'makin', 'malah', 'malahan', 'mampu', 'mampukah', 'mana', 'manakala', 'manalagi', 'masa', 'masalah', 'masalahnya', 'masih', 'masihkah', 'masing', 'masing-masing', 'mau', 'maupun', 'melainkan', 'melakukan', 'melalui', 'melihat', 'melihatnya', 'memang', 'memastikan', 'memberi', 'memberikan', 'membuat', 'memerlukan', 'memihak', 'meminta', 'memintakan', 'memisalkan', 'memperbuat', 'mempergunakan', 'memperkirakan', 'memperlihatkan', 'mempersiapkan', 'mempersoalkan', 'mempertanyakan', 'mempunyai', 'memulai', 'memungkinkan', 'menaiki', 'menambahkan', 'menandaskan', 'menanti', 'menanti-nanti', 'menantikan', 'menanya', 'menanyai', 'menanyakan', 'mendapat', 'mendapatkan', 'mendatang', 'mendatangi', 'mendatangkan', 'menegaskan', 'mengakhiri', 'mengapa', 'mengatakan', 'mengatakannya', 'mengenai', 'mengerjakan', 'mengetahui', 'menggunakan', 'menghendaki', 'mengibaratkan', 'mengibaratkannya', 'mengingat', 'mengingatkan', 'menginginkan', 'mengira', 'mengucapkan', 'mengucapkannya', 'mengungkapkan', 'menjadi', 'menjawab', 'menjelaskan', 'menuju', 'menunjuk', 'menunjuki', 'menunjukkan', 'menunjuknya', 'menurut', 'menuturkan', 'menyampaikan', 'menyangkut', 'menyatakan', 'menyebutkan', 'menyeluruh', 'menyiapkan', 'merasa', 'mereka', 'merekalah', 'merupakan', 'meski', 'meskipun', 'meyakini', 'meyakinkan', 'minta', 'mirip', 'misal', 'misalkan', 'misalnya', 'mula', 'mulai', 'mulailah', 'mulanya', 'mungkin', 'mungkinkah', 'nah', 'naik', 'namun', 'nanti', 'nantinya', 'nyaris', 'nyatanya', 'oleh', 'olehnya', 'pada', 'padahal', 'padanya', 'pak', 'paling', 'panjang', 'pantas', 'para', 'pasti', 'pastilah', 'penting', 'pentingnya', 'per', 'percuma', 'perlu', 'perlukah', 'perlunya', 'pernah', 'persoalan', 'pertama', 'pertama-tama', 'pertanyaan', 'pertanyakan', 'pihak', 'pihaknya', 'pukul', 'pula', 'pun', 'punya', 'rasa', 'rasanya', 'rata', 'rupanya', 'saat', 'saatnya', 'saja', 'sajalah', 'saling', 'sama', 'sama-sama', 'sambil', 'sampai', 'sampai-sampai', 'sampaikan', 'sana', 'sangat', 'sangatlah', 'satu', 'saya', 'sayalah', 'se', 'sebab', 'sebabnya', 'sebagai', 'sebagaimana', 'sebagainya', 'sebagian', 'sebaik', 'sebaik-baiknya', 'sebaiknya', 'sebaliknya', 'sebanyak', 'sebegini', 'sebegitu', 'sebelum', 'sebelumnya', 'sebenarnya', 'seberapa', 'sebesar', 'sebetulnya', 'sebisanya', 'sebuah', 'sebut', 'sebutlah', 'sebutnya', 'secara', 'secukupnya', 'sedang', 'sedangkan', 'sedemikian', 'sedikit', 'sedikitnya', 'seenaknya', 'segala', 'segalanya', 'segera', 'seharusnya', 'sehingga', 'seingat', 'sejak', 'sejauh', 'sejenak', 'sejumlah', 'sekadar', 'sekadarnya', 'sekali', 'sekali-kali', 'sekalian', 'sekaligus', 'sekalipun', 'sekarang', 'sekarang', 'sekecil', 'seketika', 'sekiranya', 'sekitar', 'sekitarnya', 'sekurang-kurangnya', 'sekurangnya', 'sela', 'selain', 'selaku', 'selalu', 'selama', 'selama-lamanya', 'selamanya', 'selanjutnya', 'seluruh', 'seluruhnya', 'semacam', 'semakin', 'semampu', 'semampunya', 'semasa', 'semasih', 'semata', 'semata-mata', 'semaunya', 'sementara', 'semisal', 'semisalnya', 'sempat', 'semua', 'semuanya', 'semula', 'sendiri', 'sendirian', 'sendirinya', 'seolah', 'seolah-olah', 'seorang', 'sepanjang', 'sepantasnya', 'sepantasnyalah', 'seperlunya', 'seperti', 'sepertinya', 'sepihak', 'sering', 'seringnya', 'serta', 'serupa', 'sesaat', 'sesama', 'sesampai', 'sesegera', 'sesekali', 'seseorang', 'sesuatu', 'sesuatunya', 'sesudah', 'sesudahnya', 'setelah', 'setempat', 'setengah', 'seterusnya', 'setiap', 'setiba', 'setibanya', 'setidak-tidaknya', 'setidaknya', 'setinggi', 'seusai', 'sewaktu', 'siap', 'siapa', 'siapakah', 'siapapun', 'sini', 'sinilah', 'soal', 'soalnya', 'suatu', 'sudah', 'sudahkah', 'sudahlah', 'supaya', 'tadi', 'tadinya', 'tahu', 'tahun', 'tak', 'tambah', 'tambahnya', 'tampak', 'tampaknya', 'tandas', 'tandasnya', 'tanpa', 'tanya', 'tanyakan', 'tanyanya', 'tapi', 'tegas', 'tegasnya', 'telah', 'tempat', 'tengah', 'tentang', 'tentu', 'tentulah', 'tentunya', 'tepat', 'terakhir', 'terasa', 'terbanyak', 'terdahulu', 'terdapat', 'terdiri', 'terhadap', 'terhadapnya', 'teringat', 'teringat-ingat', 'terjadi', 'terjadilah', 'terjadinya', 'terkira', 'terlalu', 'terlebih', 'terlihat', 'termasuk', 'ternyata', 'tersampaikan', 'tersebut', 'tersebutlah', 'tertentu', 'tertuju', 'terus', 'terutama', 'tetap', 'tetapi', 'tiap', 'tiba', 'tiba-tiba', 'tidak', 'tidakkah', 'tidaklah', 'tiga', 'tinggi', 'toh', 'tunjuk', 'turut', 'tutur', 'tuturnya', 'ucap', 'ucapnya', 'ujar', 'ujarnya', 'umum', 'umumnya', 'ungkap', 'ungkapnya', 'untuk', 'usah', 'usai', 'waduh', 'wah', 'wahai', 'waktu', 'waktunya', 'walau', 'walaupun', 'wong', 'yaitu', 'yakin', 'yakni', 'yang']

In [19]:
# Buat fungsi untuk langkah stopwords removal

def remove_stopwords(text):
  clean_word = []
  all_text = text.split()
  for word in all_text:
    if word not in stopwords_id:
      clean_word.append(word)
  return ' '.join(clean_word)

In [20]:
samples['stopwords'] = samples['text_lower'].progress_apply(lambda x: remove_stopwords(x))

  0%|          | 0/7306 [00:00<?, ?it/s]

## Normalisasi Kata

In [31]:
# Download corpus singkatan
# !pip install wget
# import wget
# wget.download('https://raw.githubusercontent.com/ksnugroho/klasifikasi-spam-sms/master/data/key_norm.csv','dataset/normalisasi.csv')

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: wget
  Building wheel for wget (pyproject.toml): started
  Building wheel for wget (pyproject.toml): finished with status 'done'
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9681 sha256=9ff960d39acc32eabd596f6f50854a71dcc4832292680502b2140b25c4ca4ad4
  Stored in directory: c:\users\lenovo\appdata\local\pip\cache\wheels\8b\f1\7f\5c94f0a7a505ca1c81cd1d9208ae2064675d97582078e6c769
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

'dataset/normalisasi (1).csv'

In [21]:
key_norm = pd.read_csv('dataset/normalisasi.csv')

# Buat fungsi untuk melakukan word normalization
def normalisasi(text):
  text = ' '.join([key_norm[key_norm['singkat'] == word]['hasil'].values[0] if (key_norm['singkat'] == word).any() else word for word in text.split()])
  text = str.lower(text)
  return text

In [22]:
samples['norm_content'] = samples['stopwords'].progress_apply(lambda x: normalisasi(x))

  0%|          | 0/7306 [00:00<?, ?it/s]

In [23]:
def stemming(text):
    text = stemmer.stem(text)
    return text

In [24]:
samples['stem_content'] = samples['norm_content'].progress_apply(lambda x: stemming(x))

  0%|          | 0/7306 [00:00<?, ?it/s]

In [25]:
samples.head()

,tanggal,text,likes,replies,quotes,retweets,searchQuery,timestamp,user_location,dataset,text_lower,stopwords,norm_content,stem_content
0,11/14/2023,"Sah, Pasangan Prabowo-Gibran dapat Nomor Urut ...",0,0,0,0,#nomor,2023-11-14T15:49:00.000Z,NaN,prabowogibran,"sah, pasangan prabowo-gibran dapat nomor urut ...","sah, pasangan prabowo-gibran nomor urut 2 dite...","sah, pasangan prabowo-gibran nomor urut 2 dite...",sah pasang prabowo-gibran nomor urut 2 tetap k...
1,11/15/2023,#nomor 1 Amin menang,0,0,0,0,#nomor,2023-11-15T12:32:00.000Z,NaN,prabowogibran,#nomor 1 amin menang,#nomor 1 amin menang,#nomor 1 amin menang,nomor 1 amin menang
2,11/20/2023,Pak Prabowo mengangkat anak penerbang tucano y...,0,0,0,0,#KIM,2023-11-20T17:30:00.000Z,NaN,prabowogibran,pak prabowo mengangkat anak penerbang tucano y...,prabowo mengangkat anak penerbang tucano gugur...,prabowo mengangkat anak penerbang tucano gugur...,prabowo angkat anak terbang tucano gugur anak ...
3,11/20/2023,"Unboxing Prabowo; Cerita sejarah, deklarasi bu...",1,0,0,0,#KIM,2023-11-20T17:25:00.000Z,NaN,prabowogibran,"unboxing prabowo; cerita sejarah, deklarasi bu...","unboxing prabowo; cerita sejarah, deklarasi bu...","unboxing prabowo; cerita sejarah, deklarasi bu...",unboxing prabowo cerita sejarah deklarasi budi...
4,11/14/2023,#Nomor 1\n\nIndonesia beradab,0,0,0,0,#nomor,2023-11-14T14:55:00.000Z,NaN,prabowogibran,#nomor 1\n\nindonesia beradab,#nomor 1 indonesia beradab,#nomor 1 indonesia beradab,nomor 1 indonesia adab

In [26]:
samples.describe()

              likes      replies       quotes     retweets
count   7306.000000  7306.000000  7306.000000  7306.000000
mean      66.425267    17.613332     2.014645    26.717219
std      570.088226   201.970256    19.295630   227.531628
min        0.000000     0.000000     0.000000     0.000000
25%        0.000000     0.000000     0.000000     0.000000
50%        0.000000     0.000000     0.000000     0.000000
75%        2.000000     1.000000     0.000000     0.000000
max    18140.000000  5037.000000   691.000000  4678.000000

In [27]:
print(samples)

         tanggal                                               text  likes  \
0     11/14/2023  Sah, Pasangan Prabowo-Gibran dapat Nomor Urut ...      0
1     11/15/2023                               #nomor 1 Amin menang      0
2     11/20/2023  Pak Prabowo mengangkat anak penerbang tucano y...      0
3     11/20/2023  Unboxing Prabowo; Cerita sejarah, deklarasi bu...      1
4     11/14/2023                      #Nomor 1\n\nIndonesia beradab      0
...          ...                                                ...    ...
7301  11/19/2023  Yuk dukung selalu nomor urut 3 jangan sampai s...      0
7302  11/20/2023  Sudah diingatkan beberapa kali oleh pak Ketum ...     13
7303  11/20/2023  Masa Tempo takut kalah kan bukan paslon tp maj...      0
7304  11/19/2023  Bersiaplah untuk sebuah era di mana ide-ide br...      0
7305  11/20/2023  Krna paslon islam maka himbauan nya secara isl...      0

      replies  quotes  retweets searchQuery                 timestamp  \
0           0       0         0      #nomor  2023-11-14T15:49:00.000Z
1           0       0         0      #nomor  2023-11-15T12:32:00.000Z
2           0       0         0        #KIM  2023-11-20T17:30:00.000Z
3           0       0         0        #KIM  2023-11-20T17:25:00.000Z
4           0       0         0      #nomor  2023-11-14T14:55:00.000Z
...       ...     ...       ...         ...                       ...
7301        0       0         0  nomor urut  2023-11-19T15:49:00.000Z
7302        2       0         4      paslon  2023-11-20T09:59:00.000Z
7303        1       0         0      paslon  2023-11-20T11:25:00.000Z
7304        0       0         0  nomor urut  2023-11-19T15:11:00.000Z
7305        0       0         0      paslon  2023-11-20T11:18:00.000Z

               user_location        dataset  \
0                        NaN  prabowogibran
1                        NaN  prabowogibran
2                        NaN  prabowogibran
3                        NaN  prabowogibran
4                        NaN  prabowogibran
...                      ...            ...
7301                     NaN   ganjarmahfud
7302  Jakarta Capital Region   ganjarmahfud
7303     Bandung, Jawa Barat   ganjarmahfud
7304                 Bandung   ganjarmahfud
7305                     NaN   ganjarmahfud

                                             text_lower  \
0     sah, pasangan prabowo-gibran dapat nomor urut ...
1                                  #nomor 1 amin menang
2     pak prabowo mengangkat anak penerbang tucano y...
3     unboxing prabowo; cerita sejarah, deklarasi bu...
4                         #nomor 1\n\nindonesia beradab
...                                                 ...
7301  yuk dukung selalu nomor urut 3 jangan sampai s...
7302  sudah diingatkan beberapa kali oleh pak ketum ...
7303  masa tempo takut kalah kan bukan paslon tp maj...
7304  bersiaplah untuk sebuah era di mana ide-ide br...
7305  krna paslon islam maka himbauan nya secara isl...

                                              stopwords  \
0     sah, pasangan prabowo-gibran nomor urut 2 dite...
1                                  #nomor 1 amin menang
2     prabowo mengangkat anak penerbang tucano gugur...
3     unboxing prabowo; cerita sejarah, deklarasi bu...
4                            #nomor 1 indonesia beradab
...                                                 ...
7301           yuk dukung nomor urut 3 salah pilih yaaa
7302  kali ketum @partaisocmed merusak suara ulah pe...
7303         tempo takut kalah paslon tp majalah berita
7304  bersiaplah era ide-ide brilian visi kenyataan,...
7305  krna paslon islam himbauan nya islam" tpi susa...

                                           norm_content  \
0     sah, pasangan prabowo-gibran nomor urut 2 dite...
1                                  #nomor 1 amin menang
2     prabowo mengangkat anak penerbang tucano gugur...
3     unboxing prabowo; cerita sejarah, deklarasi bu...
4                            #nomor 1 indonesia beradab
...                                                 ...
7301           yuk dukung nomor urut 3 salah pilih yaaa
7302  kali ketum @partaisocmed merusak suara ulah pe...
7303     tempo takut kalah paslon tetapi majalah berita
7304  bersiaplah era ide-ide brilian visi kenyataan,...
7305  karena paslon islam himbauan nya islam" tapi s...

                                           stem_content
0     sah pasang prabowo-gibran nomor urut 2 tetap k...
1                                   nomor 1 amin menang
2     prabowo angkat anak terbang tucano gugur anak ...
3     unboxing prabowo cerita sejarah deklarasi budi...
4                                nomor 1 indonesia adab
...                                                 ...
7301           yuk dukung nomor urut 3 salah pilih yaaa
7302  kali tum partaisocmed rusak suara ulah dukung ...
7303     tempo takut kalah paslon tetapi majalah berita
7304  siap era ide brilian visi nyata bawa pimpin ca...
7305  karena paslon islam himbauan nya islam tapi su...

[7306 rows x 14 columns]

## FILTERING

In [28]:
def filtering(text):
  text = text.lower()                                   # Lowercase all sentences
      #   text = text.strip()                                   # Remove whitespace
  text = re.sub('[-+]?[0-9]+', ' ', text)               # Remove numbers 
  text = re.sub(r'https?://\S+|www\.\S+', ' ', text)    # Remove URLs
  text = re.sub(r"pic.twitter.com\S+", ' ', text)       # Remove custom URLs for twitter
  text = re.sub(r'\@([\w]+)',' ', text)                 # Remove Mention @
  text = re.sub(r'\#([\w]+)',' ', text)                 # Remove #TAGAR
  text = re.sub('\S*@\S*\s?', ' ', text)                # Remove email
  text = re.sub(r'[^\w\s]', ' ', text)                  # Remove punctuation
      #   text = re.sub(r'\b\w{1,3}\b','',text)                 #Remove n-chars,Remove less than 3 chars, minimum 4 character allowed "\b[a-zA-Z0-9]{3}\b"
  text = re.sub(r'[!$%^&*@#()_+|~=`{}\[\]%\-:";\'<>?,.\/]', ' ', text)  # Tahap-5: simbol
      #   text = re.sub(r'[0-9]+','', text)                     # Tahap-6: angka
  text = re.sub(r'([a-zA-Z])\1\1','\\1', text)          # Tahap-7: koreksi duplikasi tiga karakter beruntun atau lebih (contoh. yukkk)
  text = re.sub(' +',' ', text)                         #remove multiple whitespace
  text = re.sub(r'^[ ]|[ ]$','', text)                  # Tahap-9: spasi di awal dan akhir kalimat

  # text = re.sub('\b[a-zA-Z0-9]{3}\b','',text)
  text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8', 'ignore') # Remove non-ascii character
  return text

In [29]:
samples['clean_content'] = samples['stem_content'].progress_apply(lambda x: filtering(x))

  0%|          | 0/7306 [00:00<?, ?it/s]

In [64]:
# samples['clean_stemming'] = samples['filtering'].progress_apply(lambda x: stemming(x))

  0%|          | 0/9 [00:00<?, ?it/s]

In [30]:
samples.to_csv( "hasil/1.DatasetPreprocessing_after_nomorurut_clean_content_23112023.csv", index=False, encoding='utf-8-sig')

In [ ]:
# samples.to_csv( "hasil/samples.csv", index=False, encoding='utf-8-sig')

In [44]:
def text_preprocessing(text):
  text = text.lower()                                   # Lowercase all sentences
      #   text = text.strip()                                   # Remove whitespace
  text = re.sub('[-+]?[0-9]+', ' ', text)               # Remove numbers 
  text = re.sub(r'https?://\S+|www\.\S+', ' ', text)    # Remove URLs
  text = re.sub(r"pic.twitter.com\S+", ' ', text)       # Remove custom URLs for twitter
  text = re.sub(r'\@([\w]+)',' ', text)                 # Remove Mention @
  text = re.sub(r'\#([\w]+)',' ', text)                 # Remove #TAGAR
  text = re.sub('\S*@\S*\s?', ' ', text)                # Remove email
  text = re.sub(r'[^\w\s]', ' ', text)                  # Remove punctuation
      #   text = re.sub(r'\b\w{1,3}\b','',text)                 #Remove n-chars,Remove less than 3 chars, minimum 4 character allowed "\b[a-zA-Z0-9]{3}\b"
  text = re.sub(r'[!$%^&*@#()_+|~=`{}\[\]%\-:";\'<>?,.\/]', ' ', text)  # Tahap-5: simbol
      #   text = re.sub(r'[0-9]+','', text)                     # Tahap-6: angka
  text = re.sub(r'([a-zA-Z])\1\1','\\1', text)          # Tahap-7: koreksi duplikasi tiga karakter beruntun atau lebih (contoh. yukkk)
  text = re.sub(' +',' ', text)                         #remove multiple whitespace
  text = re.sub(r'^[ ]|[ ]$','', text)                  # Tahap-9: spasi di awal dan akhir kalimat

  # text = re.sub('\b[a-zA-Z0-9]{3}\b','',text)
  text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8', 'ignore') # Remove non-ascii character
  word_tokens = word_tokenize(text) # Word tokenize
  

  # Define Indonesian stopwords removal
  stop_words = stopwords.words('indonesian')  # NLTK Indonesian stopwords
  clean_words = [word for word in word_tokens if word not in stop_words] # stopwords removal
  clean_words = ' '.join(clean_words)

  words = set(nltk.corpus.words.words())
  word_cleaner = word_tokenize(clean_words)
  cleaner_words = [w for w in word_cleaner if w.lower() in words or not w.isalpha()] #remove non english
  cleaner = ' '.join(cleaner_words)

  #stemming with snowball update 07072022 stemmer terakhir
#   stem_token=word_tokenize(cleaner)
#   stem_words = [snowball.stem(w) for w in stem_token]
#   stem_clean= ' '.join(stem_words)

  #update13072022 pake lemmatization TextBlob
  tblob=TextBlob(clean_words)
  lemma= [Word(word).lemmatize("v") for word in tblob.words]
  lemma_clean= ' '.join(lemma)

  #   cleaner = " ".join(w for w in nltk.wordpunct_tokenize(clean_words) \
        #   if w.lower() in words or not w.isalpha())

  return lemma_clean