In [2]:
import pandas as pd
import numpy as np
import nltk
# Apply text pre-processing to DataFrame
from tqdm._tqdm_notebook import tqdm_notebook
tqdm_notebook.pandas()

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('words')
nltk.download('wordnet')
from nltk.tokenize import word_tokenize
from textblob import TextBlob, Word

[nltk_data] Downloading package punkt to /home/gitpod/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /home/gitpod/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package words to /home/gitpod/nltk_data...
[nltk_data]   Package words is already up-to-date!
[nltk_data] Downloading package wordnet to /home/gitpod/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [52]:
samples= pd.read_csv('hasil/samples_clean_content_ok_tanggal.csv', encoding='UTF-8')
samples=samples[['likes','replies','quotes','retweets','searchQuery','clean_content','tanggal']]

In [53]:
samples.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5830 entries, 0 to 5829
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   likes          5830 non-null   int64
 1   replies        5830 non-null   int64
 2   quotes         5830 non-null   int64
 3   retweets       5830 non-null   int64
 4   searchQuery    5830 non-null   object
 5   clean_content  5830 non-null   object
 6   tanggal        5830 non-null   object
dtypes: int64(4), object(3)
memory usage: 319.0+ KB

In [54]:
samples.head()

,likes,replies,quotes,retweets,searchQuery,clean_content,tanggal
0,0,0,0,0,#gibran,result togel november jogjatoto palembang pool...,11/7/2023
1,0,0,0,0,#gibran,result togel november jogjatoto sunda pools co...,11/7/2023
2,0,0,0,0,#gibran,result togel november jogjatoto belarusia pool...,11/7/2023
3,0,0,0,0,#gibran,result togel november jogjatoto toto macau sea...,11/7/2023
4,0,0,0,0,#cakimin,politik muhaiminiskandar cakimin mahasiswaunis...,11/7/2023

In [55]:
from datetime import datetime

In [56]:
samples['date'] = pd.to_datetime(samples['tanggal'], format= 'mixed')
# samplesT = samples['Time']

In [57]:
samples.head()

,likes,replies,quotes,retweets,searchQuery,clean_content,tanggal,date
0,0,0,0,0,#gibran,result togel november jogjatoto palembang pool...,11/7/2023,2023-11-07
1,0,0,0,0,#gibran,result togel november jogjatoto sunda pools co...,11/7/2023,2023-11-07
2,0,0,0,0,#gibran,result togel november jogjatoto belarusia pool...,11/7/2023,2023-11-07
3,0,0,0,0,#gibran,result togel november jogjatoto toto macau sea...,11/7/2023,2023-11-07
4,0,0,0,0,#cakimin,politik muhaiminiskandar cakimin mahasiswaunis...,11/7/2023,2023-11-07

In [58]:
samples.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5830 entries, 0 to 5829
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   likes          5830 non-null   int64
 1   replies        5830 non-null   int64
 2   quotes         5830 non-null   int64
 3   retweets       5830 non-null   int64
 4   searchQuery    5830 non-null   object
 5   clean_content  5830 non-null   object
 6   tanggal        5830 non-null   object
 7   date           5830 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 364.5+ KB

## TEXTBLOB LABELING

In [ ]:
# TextBlob
# https://www.analyticsvidhya.com/blog/2021/10/sentiment-analysis-with-textblob-and-vader/
# !pip install textblob

In [59]:
from textblob import TextBlob

In [60]:
def sentiment_calc(text):
    try:
        return TextBlob(text).sentiment
    except:
        return None

In [61]:
def textblob_polarity(text):
    try:
        return TextBlob(text).polarity
    except:
        return None

In [62]:
def textblob_subject(text):
    try:
        return TextBlob(text).subjectivity
    except:
        return None

In [63]:
sentence = samples.clean_content[3500]
print(sentence)
res = TextBlob(sentence)
print(res.sentiment.polarity)
print(res.sentiment.subjectivity)

dandim surakarta ksad sebentar panglima kapolresta surakarta kapolri agus subiyanto listyo sigit prabowo duet jenderal geng solo pucuk pimpin tni polri orang jokowi solo
0.0
0.0

In [64]:
# samples['norm_content'] = samples['text_lower'].progress_apply(lambda x: normalisasi(x))
# samples['textblob_sentiment'] = samples['clean_content'].progress_apply(lambda x: sentiment_calc(x))
# samples['textblob_polarity'] = samples['clean_content'].progress_apply(lambda x: textblob_polarity(x))
# samples['textblob_subject'] = samples['clean_content'].progress_apply(lambda x: textblob_subject(x))
samples['textblob_sentiment'] = samples['clean_content'].progress_apply(lambda x: TextBlob(x).sentiment)
samples['textblob_sentiment_assessment'] = samples['clean_content'].progress_apply(lambda x: TextBlob(x).sentiment_assessments)
samples['textblob_polarity'] = samples['clean_content'].progress_apply(lambda x: TextBlob(x).polarity)
samples['textblob_subject'] = samples['clean_content'].progress_apply(lambda x: TextBlob(x).subjectivity)

  0%|          | 0/5830 [00:00<?, ?it/s]

  0%|          | 0/5830 [00:00<?, ?it/s]

  0%|          | 0/5830 [00:00<?, ?it/s]

  0%|          | 0/5830 [00:00<?, ?it/s]

In [65]:
samples.head(10)

,likes,replies,quotes,retweets,searchQuery,clean_content,tanggal,date,textblob_sentiment,textblob_sentiment_assessment,textblob_polarity,textblob_subject
0,0,0,0,0,#gibran,result togel november jogjatoto palembang pool...,11/7/2023,2023-11-07,"(0.0, 0.0)","(0.0, 0.0, [])",0.0,0.0
1,0,0,0,0,#gibran,result togel november jogjatoto sunda pools co...,11/7/2023,2023-11-07,"(0.0, 0.0)","(0.0, 0.0, [])",0.0,0.0
2,0,0,0,0,#gibran,result togel november jogjatoto belarusia pool...,11/7/2023,2023-11-07,"(0.0, 0.0)","(0.0, 0.0, [])",0.0,0.0
3,0,0,0,0,#gibran,result togel november jogjatoto toto macau sea...,11/7/2023,2023-11-07,"(0.0, 0.0)","(0.0, 0.0, [])",0.0,0.0
4,0,0,0,0,#cakimin,politik muhaiminiskandar cakimin mahasiswaunis...,11/7/2023,2023-11-07,"(0.0, 0.0)","(0.0, 0.0, [])",0.0,0.0
5,0,0,0,0,#gibran,result togel november jogjatoto japan pools co...,11/7/2023,2023-11-07,"(0.0, 0.0)","(0.0, 0.0, [])",0.0,0.0
6,9,1,0,1,#cakimin,bacapres anies baswedan ketua tpn anies muhaim...,11/6/2023,2023-11-06,"(0.0, 0.0)","(0.0, 0.0, [])",0.0,0.0
7,0,0,0,0,#cakimin,ganjar konsisten tolak israel indonesia ganjar...,11/7/2023,2023-11-07,"(0.0, 0.0)","(0.0, 0.0, [])",0.0,0.0
8,0,0,0,0,#cakimin,nakama matten da jama su na buah utas nakama n...,11/6/2023,2023-11-06,"(0.0, 0.0)","(0.0, 0.0, [])",0.0,0.0
9,0,0,0,0,#cakimin,temu din syamsuddin cak imin klaim menang puta...,11/6/2023,2023-11-06,"(0.0, 0.0)","(0.0, 0.0, [])",0.0,0.0

## Vader Labelling

In [66]:
# !pip install vaderSentiment
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
vader=SentimentIntensityAnalyzer()

In [67]:
samples['vader_compound'] = [vader.polarity_scores(x)['compound'] for x in samples['clean_content']]
samples['vader_neg'] = [vader.polarity_scores(x)['neg'] for x in samples['clean_content']]
samples['vader_neu'] = [vader.polarity_scores(x)['neu'] for x in samples['clean_content']]
samples['vader_pos'] = [vader.polarity_scores(x)['pos'] for x in samples['clean_content']]

In [68]:
# decide sentiment as positive, negative and neutral
def sentivader(x):
    if x >=0.05:
        return 'Positive'
    elif x <=-0.05:
        return 'Negative'
    else:
        return 'Neutral'
    # return xx

In [69]:
def sentitextblob(score):
    if score < 0:
        return 'Negative'
    elif score == 0:
        return 'Neutral'
    else:
        return 'Positive'

In [70]:
samples['vader_sentiment'] = samples['vader_compound'].progress_apply(lambda x: sentivader(x))
samples['textblob_sentiment'] = samples['textblob_polarity'].progress_apply(lambda x: sentitextblob(x))

  0%|          | 0/5830 [00:00<?, ?it/s]

  0%|          | 0/5830 [00:00<?, ?it/s]

In [71]:
samples.head(10)

,likes,replies,quotes,retweets,searchQuery,clean_content,tanggal,date,textblob_sentiment,textblob_sentiment_assessment,textblob_polarity,textblob_subject,vader_compound,vader_neg,vader_neu,vader_pos,vader_sentiment
0,0,0,0,0,#gibran,result togel november jogjatoto palembang pool...,11/7/2023,2023-11-07,Neutral,"(0.0, 0.0, [])",0.0,0.0,0.0,0.0,1.0,0.0,Neutral
1,0,0,0,0,#gibran,result togel november jogjatoto sunda pools co...,11/7/2023,2023-11-07,Neutral,"(0.0, 0.0, [])",0.0,0.0,0.0,0.0,1.0,0.0,Neutral
2,0,0,0,0,#gibran,result togel november jogjatoto belarusia pool...,11/7/2023,2023-11-07,Neutral,"(0.0, 0.0, [])",0.0,0.0,0.0,0.0,1.0,0.0,Neutral
3,0,0,0,0,#gibran,result togel november jogjatoto toto macau sea...,11/7/2023,2023-11-07,Neutral,"(0.0, 0.0, [])",0.0,0.0,0.0,0.0,1.0,0.0,Neutral
4,0,0,0,0,#cakimin,politik muhaiminiskandar cakimin mahasiswaunis...,11/7/2023,2023-11-07,Neutral,"(0.0, 0.0, [])",0.0,0.0,0.0,0.0,1.0,0.0,Neutral
5,0,0,0,0,#gibran,result togel november jogjatoto japan pools co...,11/7/2023,2023-11-07,Neutral,"(0.0, 0.0, [])",0.0,0.0,0.0,0.0,1.0,0.0,Neutral
6,9,1,0,1,#cakimin,bacapres anies baswedan ketua tpn anies muhaim...,11/6/2023,2023-11-06,Neutral,"(0.0, 0.0, [])",0.0,0.0,0.0,0.0,1.0,0.0,Neutral
7,0,0,0,0,#cakimin,ganjar konsisten tolak israel indonesia ganjar...,11/7/2023,2023-11-07,Neutral,"(0.0, 0.0, [])",0.0,0.0,0.0,0.0,1.0,0.0,Neutral
8,0,0,0,0,#cakimin,nakama matten da jama su na buah utas nakama n...,11/6/2023,2023-11-06,Neutral,"(0.0, 0.0, [])",0.0,0.0,0.0,0.0,1.0,0.0,Neutral
9,0,0,0,0,#cakimin,temu din syamsuddin cak imin klaim menang puta...,11/6/2023,2023-11-06,Neutral,"(0.0, 0.0, [])",0.0,0.0,0.0,0.0,1.0,0.0,Neutral

In [51]:
samples.to_csv( "hasil/samples_clean_content_textblob_vader.csv", index=False, encoding='utf-8-sig')