In [1]:
import pandas as pd

In [2]:
# samples= pd.read_csv('dataset/Dataset_clean_textblobvader12112023.csv', encoding='ISO-8859-1')
samples= pd.read_csv('dataset/Dataset_clean_textblobvader12112023.csv', encoding='UTF-8')
# samples=samples[['likes','replies','quotes','retweets','searchQuery','clean_content']]

In [3]:
samples.head()

,likes,replies,quotes,retweets,searchQuery,clean_content,tanggal,date,textblob_sentiment,textblob_sentiment_assessment,textblob_polarity,textblob_subject,vader_compound,vader_neg,vader_neu,vader_pos,vader_sentiment
0,0,0,0,0,#gibran,result togel november jogjatoto palembang pool...,11/7/2023,11/7/2023,Neutral,"Sentiment(polarity=0.0, subjectivity=0.0, asse...",0.0,0.0,0.0,0.0,1.0,0.0,Neutral
1,0,0,0,0,#gibran,result togel november jogjatoto sunda pools co...,11/7/2023,11/7/2023,Neutral,"Sentiment(polarity=0.0, subjectivity=0.0, asse...",0.0,0.0,0.0,0.0,1.0,0.0,Neutral
2,0,0,0,0,#gibran,result togel november jogjatoto belarusia pool...,11/7/2023,11/7/2023,Neutral,"Sentiment(polarity=0.0, subjectivity=0.0, asse...",0.0,0.0,0.0,0.0,1.0,0.0,Neutral
3,0,0,0,0,#gibran,result togel november jogjatoto toto macau sea...,11/7/2023,11/7/2023,Neutral,"Sentiment(polarity=0.0, subjectivity=0.0, asse...",0.0,0.0,0.0,0.0,1.0,0.0,Neutral
4,0,0,0,0,#cakimin,politik muhaiminiskandar cakimin mahasiswaunis...,11/7/2023,11/7/2023,Neutral,"Sentiment(polarity=0.0, subjectivity=0.0, asse...",0.0,0.0,0.0,0.0,1.0,0.0,Neutral

In [6]:
# samples.isnull().sum()
# samples.isnull().sum().sum()

In [9]:

samples["clean_content"].describe()

count                                                  5830
unique                                                 3940
top       jokowimenyerahlah mundur ketua mk freepalaesti...
freq                                                     37
Name: clean_content, dtype: object

In [11]:
samples.describe()

,likes,replies,quotes,retweets,textblob_polarity,textblob_subject,vader_compound,vader_neg,vader_neu,vader_pos
count,5830.000000,5830.000000,5830.000000,5830.000000,5830.000000,5830.000000,5830.000000,5830.000000,5830.000000,5830.000000
mean,156.454374,35.033276,4.195540,77.761578,0.008203,0.035164,0.013584,0.005657,0.983175,0.011175
std,1085.247184,387.327978,36.977125,582.525123,0.088965,0.149378,0.137684,0.034230,0.062205,0.050920
min,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,-0.980500,0.000000,0.244000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,3.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,30892.000000,7544.000000,1079.000000,16926.000000,1.000000,1.000000,0.911800,0.756000,1.000000,0.730000

In [13]:
len(samples['clean_content'].unique())

3940

In [18]:
print("Jumlah Query unik:",int(len(samples['searchQuery'].unique())))
samples['searchQuery'].unique()

Jumlah Query unik: 26

array(['#gibran', '#cakimin', 'mahfud', 'gibran', '#mahfudmd', '#mahfud',
       '#muhaimin', 'cakimin', 'muhaimin', 'mahfudmd', 'anies', '#ganjar',
       'prabowo', '#prabowo', '#anies', 'ganjar', '#mahfudmd #ganjar',
       '#cakimin #anies', 'anies cakimin', 'anies muhaimin',
       '#gibran #prabowo', 'prabowo gibran', 'ganjar mahfudmd',
       '#muhaimin #anies', 'ganjar mahfud', '#mahfud #mahfud'],
      dtype=object)

In [20]:
samples['clean_content'].nunique()

3940