# GENERATE MODIFIED-AFINN
Generated with stemming process for AFINN Lexicons

In [1]:
import pandas as pd
import numpy as np

import nltk
from nltk.tokenize import word_tokenize
from tqdm._tqdm_notebook import tqdm_notebook
tqdm_notebook.pandas()

from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
factory = StemmerFactory()
stemmer = factory.create_stemmer()

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_24528\3656799325.py:6: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.*` instead of `tqdm._tqdm_notebook.*`
  from tqdm._tqdm_notebook import tqdm_notebook

In [5]:
dataset= pd.read_csv('lexicon/Afinn-id.csv', encoding='ISO-8859-1')#'UTF-8') #'ISO-8859-1')
# samples=[]

In [7]:
dataset['text_lower']=(dataset['word'].str.lower())

In [8]:
dataset

               word   value     text_lower
0             abadi       2          abadi
1           abaikan      -2        abaikan
2             absen      -1          absen
3           abu-abu      -1        abu-abu
4     acuh tak acuh      -2  acuh tak acuh
...             ...     ...            ...
1451            wow       4            wow
1452           woww       4           woww
1453             ya       2             ya
1454          yakin       1          yakin
1455          Yesus       1          yesus

[1456 rows x 3 columns]

In [9]:
def stemming(text):
    text = stemmer.stem(text)
    return text

In [10]:
dataset['stemming'] = dataset['word'].progress_apply(lambda x: stemming(x))

  0%|          | 0/1456 [00:00<?, ?it/s]

In [11]:
dataset

               word   value     text_lower       stemming
0             abadi       2          abadi          abadi
1           abaikan      -2        abaikan           abai
2             absen      -1          absen          absen
3           abu-abu      -1        abu-abu            abu
4     acuh tak acuh      -2  acuh tak acuh  acuh tak acuh
...             ...     ...            ...            ...
1451            wow       4            wow            wow
1452           woww       4           woww           woww
1453             ya       2             ya             ya
1454          yakin       1          yakin          yakin
1455          Yesus       1          yesus          yesus

[1456 rows x 4 columns]

In [12]:
dataset.to_csv( "lexicon/afinn-modified-stemming.csv", index=False, encoding='utf-8-sig')

In [21]:
afinn= pd.read_csv('lexicon/afinn-modified-stemming-ok.csv', encoding='UTF-8')#'UTF-8') #'ISO-8859-1')

In [22]:
afinn

               word   value
0             abadi       2
1           abaikan      -2
2             absen      -1
3           abu-abu      -1
4     acuh tak acuh      -2
...             ...     ...
2907            wow       4
2908           woww       4
2909             ya       2
2910          yakin       1
2911          yesus       1

[2912 rows x 2 columns]

In [23]:
afinn.drop_duplicates(subset=['word'], inplace=True,keep='last')

In [ ]:
afinn.shape

In [25]:
afinn.to_csv( "lexicon/afinn-modified-stemming-ok-noduplicate.csv", index=False, encoding='utf-8-sig')